<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.tuleap.mylyn.task.internal.agile.ui.editors.PlanningTaskEditorPageFactory"
            id="org.tuleap.mylyn.task.agile.ui.releasePlanningPageFactory">
      </pageFactory>
   </extension>

</plugin>
