<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.tuleap.mylyn.task.internal.agile.mock.connector.MylynMockConnector"
            id="mockconnector"
            name="%MylynMockConnector.Name">
      </connectorCore>
      <connectorUi
            class="org.tuleap.mylyn.task.internal.agile.mock.connector.ui.MylynMockRepositoryConnectorUi"
            name="%MylynMockConnectorUi.Name">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.tuleap.mylyn.task.internal.agile.mock.connector.ui.editors.MylynMockTaskEditorPageFactory"
            id="org.tuleap.mylyn.task.agile.mock.connector.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
